.footer {
    border-top: 2px solid #f25c1f33;
    border-bottom: 2px solid #f25c1f33;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
  
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }
  
  .footer.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left {
    flex: 1;
    min-width: 150px;
  }
  
  .footer-logo {
    width: 120px;
    margin-bottom: 3px;
    transition: transform 0.2s ease;
  }
  
  .footer-logo:hover {
    transform: scale(1.05);
  }
  
  .footer-left p {
    font-size: 0.9rem;
    color: #999;
  }
  
  .footer-columns {
    display: flex;
    flex: 2;
    justify-content: center;
    gap: 30px;
    min-width: 300px;
  }
  
  .footer-column h4 {
    color: #aaa;
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column li {
    color: #ccc;
    font-size: 0.8rem;
    margin-bottom: 4px;
    cursor: pointer;
  }
  
  .footer-order {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 180px;
  }
  
  .order-label {
    color: #f25c1f;
    font-weight: 700;
    font-size: 0.85rem;
    margin-bottom: 8px;
    text-align: right;
  }
  
  .footer-phone, .footer-email {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: #3a2b1c;
    font-weight: 700;
    font-size: 0.85rem;
    margin-bottom: 6px;
    gap: 5px;
  }
  
  .phone-icon, .email-icon {
    color: #f25c1f;
  }
  
.delivery-logos img {
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
.delivery-logos img:hover {
    transform: scale(1.1);
  }
